In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook

In [6]:
# Nos interesan las distancias nom√°s, con lo cual con lat y long estamos.
station = pd.read_csv("dataset/station.csv")
station = station[["id", "name", "lat", "long"]]
station.head(2)

   id                               name        lat        long
0   2  San Jose Diridon Caltrain Station  37.329732 -121.901782
1   3              San Jose Civic Center  37.330698 -121.888979

In [3]:
station.head(2)

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013

In [9]:
ids = station.id

In [27]:
ids_from = []
ids_to = []

for id1 in ids:
    for id2 in ids:
        ids_from.append(id1)
        ids_to.append(id2)

caminos = pd.DataFrame({"id_from": ids_from, "id_to": ids_to})

In [28]:
caminos.head(5)

   id_from  id_to
0        2      2
1        2      3
2        2      4
3        2      5
4        2      6

In [55]:
caminos = caminos.merge(station, left_on=["id_from"], right_on=["id"])[["id_from","id_to","lat","long"]]

In [56]:
caminos.rename(columns={"lat":"lat_from","long":"long_from"},inplace=True)

In [58]:
caminos = caminos.merge(station, left_on=["id_to"], right_on=["id"])[["id_from","id_to","lat_from","long_from", "lat","long"]]

In [60]:
caminos.rename(columns={"lat":"lat_to","long":"long_to"},inplace=True)

In [61]:
caminos.head(5)

   id_from  id_to   lat_from   long_from     lat_to     long_to
0        2      2  37.329732 -121.901782  37.329732 -121.901782
1        3      2  37.330698 -121.888979  37.329732 -121.901782
2        4      2  37.333988 -121.894902  37.329732 -121.901782
3        5      2  37.331415 -121.893200  37.329732 -121.901782
4        6      2  37.336721 -121.894074  37.329732 -121.901782