In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df = pd.DataFrame({'A': 1.0, 'B': pd.date_range('20170311', periods=10)})
df

     A          B
0  1.0 2017-03-11
1  1.0 2017-03-12
2  1.0 2017-03-13
3  1.0 2017-03-14
4  1.0 2017-03-15
5  1.0 2017-03-16
6  1.0 2017-03-17
7  1.0 2017-03-18
8  1.0 2017-03-19
9  1.0 2017-03-20

In [17]:
df.dtypes

A           float64
B    datetime64[ns]
dtype: object

In [19]:
df.tail()

     A          B
5  1.0 2017-03-16
6  1.0 2017-03-17
7  1.0 2017-03-18
8  1.0 2017-03-19
9  1.0 2017-03-20

In [21]:
#Indice
df.index

RangeIndex(start=0, stop=10, step=1)

In [23]:
df.describe()

          A
count  10.0
mean    1.0
std     0.0
min     1.0
25%     1.0
50%     1.0
75%     1.0
max     1.0

In [31]:
df[0:3]

     A          B
0  1.0 2017-03-11
1  1.0 2017-03-12
2  1.0 2017-03-13

In [41]:
df[df.B > '20170315' and df.B < '20170319']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [50]:
randomStuff = pd.Series(np.random.randn(10))

In [62]:
randomStuff.plot()

TypeError: 'module' object is not callable